<div>
  <div class="page-header">
    <div class="row">
      <div class="col-xs-6">
        <h1>Pokédex</h1>
        <h2 ng-if="type"><span class="label type-{{type | lowercase}}">{{type}}</span></h2>
      </div>
      <div class="col-xs-6">
        <div class="pull-right">
          <h1><small>Showing <span class="badge">{{pokemons.length}}</span> Pokémons</small></h1>
          <div class="input-group">
            <input ng-model="searchTerm" ng-keyup="search()" type="text" class="form-control input-lg" placeholder="Search">
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row" ng-repeat="group in groupped">
    <div class="col-lg-3" ng-repeat="pokemon in group">
      <pokemon-card></pokemon-card>
    </div>
  </div>
</div>
