<!-- pokemon -->
<div ng-if="!pokemon">
  <div class="page-header">
    <h1>Error</h1>
  </div>
  <div class="alert alert-danger">
    <p>Pokémon not found</p>
  </div>
</div>
<div ng-if="pokemon">
  <div class="page-header">
    <pokemon-name></pokemon-name>
  </div>
  <div class="row">
    <div class="col-md-6">
      <pokemon-image></pokemon-image>
    </div>
    <!-- Tabs -->
    <div class="col-md-6" ng-controller="TabsController">
      <ul class="nav nav-tabs nav-justified">
        <li ng-class="{ active:isActive(1) }"><a ng-click="selectTab(1)">Pokédex</a></li>
        <li ng-class="{ active:isActive(2) }"><a ng-click="selectTab(2)">Stats</a></li>
        <li ng-class="{ active:isActive(3) }"><a ng-click="selectTab(3)">Evolution</a></li>
      </ul>
      <div class="tab-content">
        <!-- Pokedex -->
        <div ng-show="isActive(1)">
          <pokemon-data></pokemon-data>
        </div>
        <!-- Stats -->
        <div ng-show="isActive(2)">
          <pokemon-stats></pokemon-stats>
        </div>
        <!-- Evolution -->
        <div ng-show="isActive(3)">
          <pokemon-evolution></pokemon-evolution>
        </div>
      </div>
    </div>
    <!-- /tabs -->
  </div>
  <!-- comments -->
  <pokemon-comments name="{{pokemon.name}}"></pokemon-comments>
  <!-- /comments -->
</div>
<!-- /pokemon -->
