<div>
  <div class="page-header">
    <h1>Pokédex <small class="pull-right">Showing <span class="badge">{{pokemons.length}}</span> Pokémons</small></h1>
    <h2 ng-if="type"><span class="label type-{{type | lowercase}}">{{type}}</span></h2>
  </div>
  <div class="row" ng-repeat="group in groupped">
    <div class="col-lg-3" ng-repeat="pokemon in group">
      <div class="pokemon panel panel-primary">
        <div class="panel-heading">
          <pokemon-name></pokemon-name>
        </div>
        <div class="panel-body">
          <a href="/#pokemon/{{pokemon.name | normalize}}">
            <pokemon-image></pokemon-image>
          </a>
        </div>
        <div class="panel-footer">
          <div class="text-center">
            <pokemon-type></pokemon-type>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
