<ul class="list-group">
  <li class="list-group-item">
    <strong>Type</strong>
    <span class="pull-right">
      <pokemon-type></pokemon-type>
    </span>
  </li>
  <li class="list-group-item">
    <strong>Height</strong>
    <span class="pull-right">{{pokemon.height}}</span>
  </li>
  <li class="list-group-item">
    <strong>Weight</strong>
    <span class="pull-right">{{pokemon.weight}}</span>
  </li>
  <li class="list-group-item">
    <strong>Abilities</strong>
    <ul>
      <li ng-repeat="ability in pokemon.abilities">
        {{ability}}
      </li>
    </ul>
  </li>
</ul>
