<button class="btn btn-primary" ng-hide="show" ng-click="toggle()">Show comments <span class="badge">{{comments.length}}</span></button>
<div class="panel panel-primary" ng-show="show">
  <div class="panel-heading">
    <h1 class="panel-title">Comments <button class="close pull-right" ng-click="toggle()">&times;</button></h1>
  </div>
  <div class="panel-body">
    <form name="commentsForm" class="form-horizontal" role="form" ng-submit="commentsForm.$valid && addComment()" novalidate>
      <div class="form-group">
        <div class="col-sm-6">
          <textarea ng-model="comment.body" placeholder="Please tell us what you think about {{name}}" class="form-control" required></textarea>
        </div>
        <div class="col-sm-4">
          <input ng-model="comment.email" ng-disabled="comment.anonymous" type="email" placeholder="Please enter your email address" class="form-control" ng-required="!comment.anonymous">
          <label>
            <input ng-model="comment.anonymous" ng-change="anonymousChanged()" type="checkbox">
            Anonymous
          </label>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-lg">Comment</button>
        </div>
      </div>
    </form>
    <blockquote ng-repeat="comment in comments">
      <p>{{comment.body}}</p>
      <footer>
        Comment by 
        <a ng-if="!comment.anonymous" href="mailto:{{comment.email}}">{{comment.email}}</a> 
        <em ng-if="comment.anonymous">Anonymous</em>
        on <span>{{comment.date | date : 'medium'}}</span>
      </footer>
    </blockquote>
  </div>
</div>
