<div class="pkm-right">
    <span class="pkm-hp-right" style="width:{{fighters[1].stats.hp}}px">HP </span>
    <img src="img/strikeRight.png" title="Atacar!" class="pkm-strike-right" ng-click="strike(fighters[1])" ng-hide="strikeRight">
    <figure class="cont-img-fighter">
      <img ng-src="{{fighters[1].name | imageify}}" width="150">
    </figure>
    <div class="cont-stats">
      <h3>{{fighters[1].name}}</h3>
      <h4>Stats</h4>
      <div class="cont-pkm-stats">
        <span class="pkm-stat">Hp</span>
        <span class="pkm-stat-value">{{fighters[1].stats.hp}}</span>
      </div>
      <div class="cont-pkm-stats">
        <span class="pkm-stat">Attack</span>
        <span class="pkm-stat-value">{{fighters[1].stats.attack}}</span>
      </div>
      <div class="cont-pkm-stats">
      <span class="pkm-stat">Defense</span>
        <span class="pkm-stat-value">{{fighters[1].stats.defense}}</span>
      </div>
    </div>
</div>